.body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
head{
    font-family: 'Poppins', sans-serif;
}
.txt-lnk{
    color: lightskyblue
}
.txt-lnk a:hover{
    color: blue;
}
.top-title-txt{
    color: darkslategray;
}
.top-title{
    margin-top: 5%;
}
.welcome-image{
    margin-left: auto;
    margin-right: auto;
}
.top{
    background-image: url("images/bcs-bg-main.png");
    background-repeat: no-repeat;
}
.informations{
    margin-top: 10%;
    color: rgb(255, 209, 57);
}
.rate-desc{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.rate-img1{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 5%;
}












/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .welcome-image{
        position: relative;
        bottom: 10%;
    }
    .top{
        background-image: url("images/bcs-bg-main.png");
        background-repeat: no-repeat;
        height: 500px;
        background-size: 70%;
    }
    .informations{
        position: relative;
        bottom: 100%;
        text-align: center;
    }
    .rate-desc{
        position: relative;
        bottom: 25%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .half-width{
        display: none;
    }
    .greenbee{
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    #teachers-info{
        padding-left: 5%;
        padding-right: 5%;
    }
    .bcs-teaches{
        text-align: center;
        position: relative;
        top: 70%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .welcome-image{
        position: relative;
        bottom: 0%;
    }
    .top{
        background-image: url("images/bcs-bg-main.png");
        background-repeat: no-repeat;
        height: 500px;
        background-size: 90%;
    }
    .informations{
        position: relative;
        bottom: 100%;
        text-align: center;
    }
    .rate-desc{
        position: relative;
        bottom: 35%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .half-width{
        display: none;
    }
    .greenbee{
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }
    #teachers-info{
        padding-left: 5%;
        padding-right: 5%;
    }
    .bcs-teaches{
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .welcome-image {
        position: relative;
        bottom: -10%;
    }
    .informations{
        position: relative;
        bottom: 80%;
        text-align: center;
    }
    .rate-desc{
        position: relative;
        bottom: 25%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .half-width{
        display: none;
    }
    .greenbcs{
        width: 130%;
    }
    .adjust{
        padding-top: 20%;
    }
    .adjust1{
        padding-top: 5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .welcome-image{
        position: relative;
        top: 10%;
    }
    .informations{
        position: relative;
        bottom: 0%;
    }
    .rate-desc{
        position: relative;
        bottom: 0%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .bcs-teaches{
        display: none;
    }
    #teachers-info{
        padding-left: 5%;
        padding-right: 5%;
        display: none;
    }
    .teachers-title{
        display: none;
    }
    .half-width{
        display: unset;
    }
    body{
        overflow-x: hidden;
    }
    .greenbcs{
        width: 130%;
    }
    .adjust{
        padding-top: 20%;
    }
    .adjust1{
        padding-top: 5%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .bcs-teaches{
        display: none;
    }
    #teachers-info{
        padding-left: 5%;
        padding-right: 5%;
        display: none;
    }
    .teachers-title{
        display: none;
    }
    body{
        overflow-x: hidden;
    }
    .greenbcs{
        width: 130%;
    }
    .adjust{
        padding-top: 20%;
    }
    .adjust1{
        padding-top: 5%;
    }
}
