.logo-color {
    color: rgb(109, 109, 255);
}
.barlinks{
    align-items: center;
    font-size: 15px;
    text-decoration: none;
}
/*
desktop:1200px;
laptop:992px;
tablet:768px;
phone:600px;
*/
@media (min-width: 600px) {
    .logo-color{
        font-size: 50px;
    }
    .logo {
        width: 40px;
    }
}
@media (max-width: 768px) {
    .logo-color{
        font-size: 20px;
    }
    .logo {
        width: 40px;
    }
}
@media (max-width: 992px) {
    .logo-color{
        font-size: 40px;
    }
    .logo {
        width: 40px;
    }
    .barlinks{
        font-size: 20px;
    }
}